<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<header>
		<a href="{% url 'home' %}">HOME</a> | <a href="{% url 'about' %}">ABOUT</a>
	</header>
	<section>
		{% block content%}
		{% endblock content%}
	</section>

</body>
</html>